@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Syne+Mono&display=swap');
h1 { font-family: "Syne Mono", monospace; }
pre { font-family: "JetBrains Mono", monospace; }

@keyframes blink { 0% { opacity: 0; } }
pre span {
  animation: blink 1.5s steps(2) infinite;
  color: springgreen;
}

body {
  background-color: #13171f;
}

ul#links {
  font-size: 130%;
  padding: 0;
  margin: 0;
  li {
    display: inline;
    a { color: springgreen; }
    a:hover { color: white; }
  }
}

.container {
  max-width: 950px;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

p { font-family: "JetBrains Mono", monospace; }

pre {
  background-color: #1a1f28;
}

canvas {
  display: block;
  margin: 30px auto;
  box-shadow: 5px 5px rgba(0,0,0,0.4);
}
